@import url(reset.css);

/* Estilo do corpo da página */
body {
    font-family: 'Arial', sans-serif;
}
main{
    background-color: #959595;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

/* Estilo do cabeçalho (header) */
header {
    background-color: #000000; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 8px; /* 10px convertidos para rem */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
}

/* Estilo da navegação (nav) */
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 8px; /* 10px convertidos para rem */
}

nav a {
    color: #fff; /* Cor dos links na navegação */
    text-decoration: none;
}

/* Estilo da caixa de login */
.login-page {
    max-width: 600px;
    margin: 20px auto; /* Unidade fixa (pixels) */
    padding: 15px; /* Unidade fixa (pixels) */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 8px; /* 10px convertidos para rem */
}

.login-form input {
    width: 100%;
    padding: 8px; /* 8px convertidos para rem */
    margin-bottom: 8px; /* 15px convertidos para rem */
}

.login-form .bouton {
    background-color: #333;
    color: #fff;
    padding: 8px; /* 10px convertidos para rem */
    border: none;
    cursor: pointer;
}

.login-form .bouton:hover {
    background-color: #555;
}

/* Espaçamento para os campos do fórum */
table {
    width: 100%;
    margin-top: 8px; /* 20px convertidos para rem */
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px; /* 10px convertidos para rem */
    text-align: left;
}

/* Estilo do formulário do fórum */
form {
    max-width: 500px;
    margin: 8px auto; /* 20px convertidos para rem */
    padding: 32px; /* 15px convertidos para rem */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px; /* 10px convertidos para rem */
}

form input,
form textarea {
    width: 100%;
    padding: 8px; /* 8px convertidos para rem */
    margin-bottom: 8px; /* 15px convertidos para rem */
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 8px; /* 10px convertidos para rem */
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}